@charset "UTF-8";
/* CSS Document */

p {
	color: #641E16;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
border: none; 
margin: 0; 
padding: 0; 
}

/*html selectors*/

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
background-color: wheat;
background-color: #f5deb3;

}

a:link, a:visited { 
	color: white;
 	text-decoration: blink; 
 	font-weight: bold;
}

a:hover, a:active { 
	color: white;
	text-decoration: blink; 
	font-weight: bold;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

#siteContainer {
	margin: 0 auto;
	width: 980px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23641e16' fill-opacity='0.21' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
/*http://www.heropatterns.com/*/
}

/*This is a flex container*/
#mainHeader {
  padding: 20px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  justify-content: space-evenly;
}

#titlebox1 {
  width: 730px;
  height: 120px;
  text-align: center;
}

#titlebox2 {
  width: 920px;
  margin: 20px 0px;
  background-color: #CBBA9C;
  border-style: double;
  border-color: #641E16;
  border-width: 5px;
}


#title {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	color: #641E16;
	flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title h2 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
}

#title p {
  font-size: 25px;
  padding-bottom: 15px;
}

#title2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #641E16;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title2 h3 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px 5px 0px;
}

#title2 p {
  font-size: 25px;
  padding-bottom: 15px;
}

.full-width {
  width: 980px;
  background-color: #CBBA9C;
}

.dottedLine
{
  width: 300px;
  border: none;
  border-top-color: #641E16;
  border-top-style: dotted;
  border-top-width: 3px;
}


/*This is a flex item*/
#logo {
	margin-right: auto;
	padding: 10px;
}

#bookMark {
	width: 150px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.hero
{
  height: 300px;
  width: 980px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: cover;
  background-position: center center;
  filter: brightness(80%);
}


.heroAbout {
  background: url(../images/windowspace.jpg) no-repeat center; 
}

.heroBooks {
  background: url(../images/bookshelf_front.jpg) no-repeat center; 
}

.heroContact {
  background: url(../images/outside.jpg) no-repeat center; 
}

.hero h1
{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  filter: brightness(100%);
}

.hero h2
{
  color: white;
  font-size: 20px;
}


.resources {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 40px 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
}

.resources p {
  margin-top: 5px;
  line-height: 22px;
  color: #641E16;
  font-size: 16px;
  height: 40px;
}

.resources h3 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: brown;
  padding: 8px 0px 8px 5px;
}

.resources h3:hover {
  background-color: lightcoral;
}


.about, .books, .contact {
  color: #fff;
  width: 300px;
  object-fit: cover;
}

.resBut {
  display: block;
  width: 150px;
  padding: 15px;
  color: #FFF;
  background-color: brown;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.resBut:hover {
  background-color: lightcoral;
}


/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/


.imgfloat {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

.Container {
	margin-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
}

.box {
	background-color: brown;
	color: white;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
	width: 100px;
}

#mainBooks {
  padding: 20px;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#mainBooks h2 {
  font-size: 20px;
  width: 940px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: brown;
  margin-bottom: 40px;
  padding: 8px 5px 8px 5px;
}

.booksImageCon {
  width: 220px;
  margin-bottom: 10px;
}

.booksImagebox {
  widows: 220px;
  height: 280px;
  padding: 10px;
  background-color: #CBBA9C;
  align-items: center;
  text-align: center;
}

.booksImageCon h3 {
  font-family: "Times New Roman", Times, serif;
  border-bottom: solid 3px #641E16;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 0px;
  color: #641E16;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

.booksImageCon p {
  font-size: 12px;
  margin-top: 0;
  padding-bottom: 15px;
}


/*Page 2 - Notice we are using one style sheet for all of the pages*/

#contentCon {
	/* border-bottom: solid 1px #DDD; */
	padding: 10px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#contentCon img {
  margin: 40px 20px 0px 20px;
}

#contentCon p {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 22px;
  font-size: 16px;
}

#content1 {
  width: 550px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 8px;
}

.content1 img {
    border: 5px solid lightcoral;
}

#content2 {
  width: 300px;
  height: 270px;
	margin-top: 110px;
}

#content2 p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #641E16;
  font-size: 22px;
  font-weight: bold;
  line-height: 130%;
}


#content3 {
  height: auto;
  width: 420px;
  margin-left: 50px;
}

.content3 img {
  border: 5px solid lightcoral;
}

#content4 {
  height: auto;
  margin: 0px 50px 0px 0px;
  width: 420px;
}

.content4 img {
  border: 5px solid lightcoral;
}

#content5 {
  text-align: center;
  width: 420px;
}

.content5 img {
  border: 5px solid lightcoral;
}

#content6 {
  width: 420px;
  margin: 0px 30px 0px 0px;

}

.content6 img {
  border: 5px solid lightcoral;
}


.ribbon {
   width: 553px;
   position: absolute;
   text-align: center;
   font-size: 23px!important;
   background: brown;
   background: -webkit-gradient(linear, left top, left bottom, from(brown), to(lightcoral));
   background: -webkit-linear-gradient(top, brown, lightcoral);
   background: -moz-linear-gradient(top, brown, lightcoral);
   background: -ms-linear-gradient(top, brown, lightcoral);
   background: -o-linear-gradient(top, brown, lightcoral);
   background-image: -ms-linear-gradient(top, brown 0%, lightcoral 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }

   .ribbon h2 {
   font-size: 20px!important;
   color: #ffffff;
   text-shadow: #240c0c 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }

   .ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid brown;
   z-index: -1;
   }

.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }

.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }

   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #560202 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }

.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }

.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
